<h2 class="page-header">Messages</h2>
<input type="button"  name="button"  value='Send new messages  ' onClick="new_messages()" >
<input type="button" name="button"  value='Views sent messages' onClick="sent_messages()" >
<input type="button"  name="button"  value='Views list friend' onClick="list_friend()" >
<script language="javascript">
    $(document).ready(function() {
        $('#Link').click(function() {
            $.post("example.php", { n: "203000"} );
        });
    });
</script>

<h3> Danh sách tin nhắn</h3>
    <table>
        <tr>
            <td>
                Email gửi
            </td>
            <td>
                Ngày gửi
            </td>
            <td>
                Nội dung
            </td>
        </tr>
        {{#each user.message_rec}}
        {{#if this.read}}
        <tr>
            <td>
                {{this.user_send}}
            </td>
            <td>
                {{this.datesent}}
            </td>
            <td>
                {{message}}
            </td>
        </tr>
        {{else}}
            <tr bgcolor= #00FFFF>
                <td>
                    {{this.user_send}}
                </td>
                <td>
                    {{this.datesent}}
                </td>
                <td>
                    <form  action="/users/index" method="POST">
                        <input type="hidden" name="read" value="{{this.read}}">
                        <input type="hidden" name="id" value="{{this._id}}">
                        <input type="hidden" name="user_send" value="{{this.user_send}}">
                        <input type="hidden" name="mess_id_send" value="{{this.mess_id_send}}">
                        <button type="submit" >Xem</button>
                    </form>

                </td>
            </tr>
        {{/if}}
        {{/each}}

    </table>
